.Frame18-p {
    width: 1304px;
    display: flex;
    padding: 80px 104px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: #FFF;
}

.Frame15-p {
    display: flex;
    align-items: center;
    gap: 800px;
}
.partners-text {
    width: 444px;
    color: #292E32;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
}

.Frame14-p {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.IconParkOutlineLeftC {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.Group {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.Frame18-2-p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #FFF;
}


.image-1 {
    width: 57.692px;
    height: 60px;
}
.image-2 {
    width: 121.724px;
    height: 60px;
}
.image-3 {
    width: 230px;
    height: 98px;
    flex-shrink: 0;
}
.image-4 {
    width: 212px;
    height: 104px;
    flex-shrink: 0;
}
.image-5 {
    width: 156.415px;
    height: 60px;
}
.image-6 {
    width: 336.168px;
    height: 206.037px;
    flex-shrink: 0;
}
.image-1,
.image-5,
.image-2,
.image-3,
.image-4,
.image-6 {
    transition: transform 0.2s ease;
}

.image-1:hover,
.image-5:hover,
.image-2:hover,
.image-3:hover,
.image-4:hover,
.image-6:hover {
    transform: scale(1.1);
}